$mention-help-bar-height: 32px;

.mentionable-input {

  .possible-mentions {
    z-index: 1000;
    min-width: 100%;
    position: absolute;
    box-shadow: 0 5px 10px $mi-dropdown-border-color;
    border: 1px solid $mi-dropdown-border-color;
    background-color: #fff;
    border-radius: 6px;

    .help-bar {
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0;
      background: $mi-help-bar-background-color;
      color: $mi-help-bar-font-color;
      font-size: 14px;
      border-bottom: 1px solid $mi-dropdown-border-color;
      background-clip: padding-box;
      height: $mention-help-bar-height;
      overflow: hidden;
      border-radius: 6px 6px 0 0;

      .matching-text {
        max-width: 50%;
        position: relative;
        left: 12px;
        @extend .text-truncate;
      }

      .mi-close-action {
        position: relative;
        right: 11px;
        bottom: 1px;

        md-icon {
          color: $mi-font-color !important;
        }

        .mi-close:hover {
          cursor: pointer;
        }
      }
    }

    ul.mention-options {
      list-style-type: none;
      margin: $mention-help-bar-height 0 0 0;
      padding: 0;

      li.mention-option {
        display: flex;
        align-items: center;
        padding: 3px 10px;
        min-height: 42px;
        white-space: nowrap;

        &:hover, &.focused {
          background: $mi-dropdown-option-background;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
