@import 'ember-paper';

// overridable variables
$mi-font-color: rgb(20, 23, 26);
$mi-incomplete-mention-color: $mi-font-color;
$mi-mention-color: #1264a3;

@import 'util';
@import 'dropdown-options';
@import 'styled-input-text';

.mentionable-input {

  input, textarea {
    color: $mi-font-color !important;
    text-shadow: 0 0 0 transparent !important; // magic behind styling mentions in comments
    -webkit-text-fill-color: transparent !important;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: $mi-font-color;
    text-shadow: none;
    -webkit-text-fill-color: initial;
  }
}
