@import 'ember-paper';

// overridable variables
$mi-font-color: rgb(20, 23, 26) !default;
$mi-incomplete-mention-color: $mi-font-color !default;
$mi-mention-color: #1264a3 !default;
$mi-help-bar-background-color: #fafbfc !default;
$mi-help-bar-font-color: #7f7f83 !default;

@import 'util';
@import 'dropdown-options';
@import 'styled-input-text';

.mentionable-input {

  input, textarea {
    color: $mi-font-color !important;
    text-shadow: 0 0 0 transparent !important; // magic behind styling mentions in comments
    -webkit-text-fill-color: transparent !important;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: $mi-font-color;
    text-shadow: none;
    -webkit-text-fill-color: initial;
  }
}
