$primary-color-palette: "grey";
$primary: "grey";
$accent: "grey";
@import 'mentionable-input';

:root {
  --brand-primary: #6ECE9E;
}

md-tabs {
  margin-bottom: 20px;

  .md-tab.md-active {
    background: #F5F5F5;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
  }
}

md-tabs .md-tab.md-active,
md-tabs .md-tab.md-active md-icon,
md-tabs .md-tab.md-focused,
md-tabs .md-tab.md-focused md-icon,
md-tabs .md-tab {
  color: $mi-font-color;
}

.styled-input {
  border-color: transparent;
  border-style: hidden;
}

nav {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
   + div.docs-rounded {
     border-top-left-radius: 0;
     border-top-right-radius: 0;
   }
}

$mi-grey: #929598;
.mentionable-input {

  ul.mention-options {

    li.mention-option {

      .avatar-rounded-small {
        min-height: 30px;
        min-width: 30px;
        max-height: 30px;
        max-width: 30px;
        border-radius: 50%;
        border: 1px solid $mi-grey;

        &:hover {
          cursor: pointer;
        }
      }

      .mi-name {
        color: $mi-font-color;
        font-weight: 600;
        margin-right: 0.5rem;
      }

      .mi-username {
        font-size: 14px;
        color: $mi-grey;
      }
    }
  }
}
