@import 'mentionable-input';

.mentionable-input {

  ul.options {

    li.option {

      .primary {
        color: rgb(20, 23, 26);
        font-weight: 600;
      }

      .subtext {
        position: relative;
        top: 1px;
      }
    }
  }
}
