@import 'mentionable-input';

$mi-grey: #929598;
.mentionable-input {

  ul.options {

    li.option {

      .avatar-rounded-small {
        min-height: 30px;
        min-width: 30px;
        max-height: 30px;
        max-width: 30px;
        border-radius: 50%;
        border: 1px solid $mi-grey;

        &:hover {
          cursor: pointer;
        }
      }

      .primary {
        color: rgb(20, 23, 26);
        font-weight: 600;
      }

      .subtext {
        position: relative;
        top: 1px;
        font-size: 14px;
        color: $mi-grey;
      }
    }
  }
}
