<h1 class="docs-md__h1">Overview</h1>

<p class="docs-md">
  <strong>Mentionable Paper Input</strong> is an implementation of
  <a href="http://miguelcobain.github.io/ember-paper/#/components/input">ember-paper's textarea input</a> that allows
  users to add "mentions" to input text - think <span class="inline-snippet at-ing">@</span>ing someone on Twitter
  or Instagram. There are <a href="https://github.com/yakmada/ember-cli-mentionable">other mention libraries </a>
  in the Ember ecosystem, but none provide the same sleek styling you'd see on popular social networking sites.
  And understandably so - browsers prevent direct styling of <code class="inline-snippet">&lt;input&gt;</code>
  and <code class="inline-snippet">&lt;textarea&gt;</code> values,
  making it difficult to implement custom mention styling on input text.
</p>

<p class="docs-mt-4 docs-mb-4">
  However <a href="https://wuzgud.app/login">we</a> were able to
  create a <strong>styled</strong> and <strong>customizable</strong> mentionable input addon with just a little CSS and
  Javascript sleight of hand. Its use isn't strictly limited to mentions either. Mentionable Paper Input can be used to
  add hashtags,
  check-in at a location, highlight keywords in text, and so on. The component is extremely flexible and can support a
  number of use cases beyond basic mentioning.
</p>
