<h1 class="docs-md__h1">Installation</h1>

<p class="docs-md">
  <strong>NPM</strong>
  <br>
  <code class="inline-snippet">npm install mentionable-paper-input</code>
</p>

<p class="docs-md docs-mt-4">
  <strong>Yarn</strong>
  <br>
  <code class="inline-snippet">yarn add mentionable-paper-input</code>
</p>